lib==4.0.0
librosa==0.9.1
matplotlib==3.3.1
moviepy==1.0.3
noisereduce==2.0.1
NRCLex==3.0.0
numpy==1.21.6
pandas==1.1.0
pydub==0.25.1
pyparsing==2.4.7
pypinyin==0.49.0
PyWavelets==1.2.0
scipy==1.4.1
soundfile==0.12.1
streamlit==1.2.0
streamlit_option_menu==0.3.6
torch==1.10.0
tqdm==4.60.0
